@import "tailwindcss";
@plugin "@tailwindcss/forms";
@config "../tailwind.config.js";

/* This file is for your main application CSS */

/* Tailwind v4 Theme Configuration */
@font-face {
  font-family: TiemposHeadline;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/TiemposHeadline/TiemposHeadline-Semibold.woff")
    format("woff");
}

@font-face {
  font-family: TiemposHeadline;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/TiemposHeadline/TiemposHeadline-Regular.woff") format("woff");
}

@font-face {
  font-family: ModernEra;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/ModernEra/ModernEra-Bold.woff2") format("woff2");
}

@font-face {
  font-family: ModernEra;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/ModernEra/ModernEra-Regular.woff2") format("woff2");
}

@theme {
  --font-sans: "ModernEra", "sans-serif";
  --font-serif: "TiemposHeadline", "serif";

  --color-shiro: #fffefd;
  --color-kuro: #1a1a1a;

  --color-midnight: #3e1768;
  --color-midnight-75: #6e518e;
  --color-midnight-50: #9e8bb3;
  --color-midnight-25: #cfc5d9;
  --color-aubergine: #67295f;
  --color-aubergine-75: #8d5f87;
  --color-aubergine-50: #b394af;
  --color-aubergine-25: #d9c9d7;
  --color-lilac: #75457d;
  --color-lilac-75: #98749e;
  --color-lilac-50: #baa2be;
  --color-lilac-25: #dcd0de;
  --color-mauve: #9f81a5;
  --color-mauve-75: #b7a1bc;
  --color-mauve-50: #cfc0d2;
  --color-mauve-25: #e7dfe8;
  --color-mist: #c7c7e5;
  --color-mist-75: #e0e0ee;
  --color-mist-50: #eaeaf3;
  --color-mist-25: #f4f4f9;
  --color-sand: #ccac9f;
  --color-sand-75: #d9c1b7;
  --color-sand-50: #e5d5cf;
  --color-sand-25: #f2eae7;
  --color-pebble: #eee1db;
  --color-pebble-75: #f2e9e4;
  --color-pebble-50: #f6f0ed;
  --color-pebble-25: #fbf7f6;
  --color-ishi: #484848;
  --color-ishi-75: #767676;
  --color-ishi-50: #a3a3a3;
  --color-ishi-25: #d1d1d1;
  --color-forest: #025656;
  --color-forest-75: #418080;
  --color-forest-50: #80aaaa;
  --color-forest-25: #c0d5d5;
  --color-kelp: #097270;
  --color-kelp-75: #479594;
  --color-kelp-50: #84b8b7;
  --color-kelp-25: #c1dcdb;
  --color-coral: #d45847;
  --color-coral-75: #df8275;
  --color-coral-50: #e9aba3;
  --color-coral-25: #f4d5d1;
}

@plugin "daisyui/theme" {
  name: "hinge";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-shiro);
  --color-base-200: var(--color-shiro);
  --color-base-300: var(--color-shiro);
  --color-base-content: var(--color-kuro);
  --color-primary: var(--color-kuro);
  --color-primary-content: var(--color-shiro);
  --color-secondary: var(--color-aubergine);
  --color-secondary-content: var(--color-shiro);
  --color-accent: var(--color-kuro);
  --color-accent-content: var(--color-shiro);
  --color-neutral: var(--color-kuro);
  --color-neutral-content: var(--color-shiro);
  --color-info: var(--color-kuro);
  --color-info-content: var(--color-shiro);
  --color-success: var(--color-forest);
  --color-success-content: var(--color-shiro);
  --color-warning: var(--color-kuro);
  --color-warning-content: var(--color-shiro);
  --color-error: var(--color-coral);
  --color-error-content: var(--color-shiro);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer components {
  .header-main {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-4xl);
    line-height: 110%;
  }

  .header-functional {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-3xl);
    line-height: 140%;
  }

  .body-copy {
    font-family: var(--font-sans);
    line-height: 140%;
    letter-spacing: --tracking-wide;
  }
}

/*
* Allows prefixing tailwind classes with LiveView classes to add rules
* only when LiveView classes are applied, for example:
*
*     <div class="phx-click-loading:animate-ping">
*/
@custom-variant phx-click-loading (&.phx-click-loading, .phx-click-loading &);
@custom-variant phx-submit-loading (&.phx-submit-loading, .phx-submit-loading &);
@custom-variant phx-change-loading (&.phx-change-loading, .phx-change-loading &);
